.hover-effect{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    cursor: grab;
    margin-bottom: 10px;
}

figure {
    margin: 0 !important;
}
.hover-effect figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-effect figure:hover img {
	opacity: .5;
}