  .desc{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .main-row{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #d9edff;
  }

  .main-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 40px rgba(0,0,0,0.16);
    border-radius: 12px;
    padding: 20px;
  }
